__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env


admin_tools
.claude
docs


# Secrets
finance.db
creds.json
.vscode/

# Logs & Junk
*.log
flake8_report.txt

# Knowledge Base (Keep these)
!admin_tools/Do/*.txt
!admin_tools/Do/*.md
!admin_tools/Do/*.pdf
!admin_tools/Do/*.docx
!admin_tools/Do/*.html