__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.claude


# Secrets
finance.db
creds.json
credintial.json
gmail-token.json
gmail-state.json
.vscode/

# Logs & Junk
*.log
bot-state.pickle
flake8_report.txt

scratch/
